       /*Float*/

body {
    margin: 0;
}

.container {
    background-color: pink;
    max-width: 1200px;
    height: calc(100% - 20px);
    margin: 25px auto 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.ml-10 {
    margin-left: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.w-25 {
    width: calc(25% - 7.5px);
}

.w-33 {
    width: calc(33.3333% - 7px);
}

.w-50 {
    width: calc(50% - 5px);
}

.w-66 {
    width: calc(66.6666% - 3px);
}

.w-100 {
    width: 100%;
}

.wrap {
    clear: left;
}

.wrap::after {
    content: "";
    display: block;
    clear: both;
}

.red {
    border: 1px solid black;
    background-color: red;
    height: 120px;
    float: left;
    box-sizing: border-box;
}

.orange {
    border: 1px solid black;
    background-color: orange;
    height: 120px;
    float: left;
    box-sizing: border-box;
}

.yellow {
    border: 1px solid black;
    background-color: yellow;
    height: 120px;
    float: left;
    box-sizing: border-box;
}

.green {
    border: 1px solid black;
    background-color: green;
    height: 120px;
    box-sizing: border-box;
}

.blue {
    border: 1px solid black;
    background-color: blue;
    height: 120px;
    float: left;
    box-sizing: border-box;
}

@media (max-width: 600px ) {
    .w-33, .w-25, .w-50, .w-66 {
        width: 100%;
    }

    .ml-10 {
        margin-left: 0;
    }

    .wrap {
        margin-bottom: 0;
    }

    .red, .orange, .yellow, .blue {
        margin-bottom: 10px;
    }

    .blue:nth-child(2) {
        margin-bottom: 0;
    }

    .yellow:nth-child(2n) {
        margin-left: 0;
    }
}

@media (min-width: 600px) {
    .container {
        max-width: 850px;
    }

    .yellow {
        min-width: calc(50% - 5px);
        margin-left: 0;
        box-sizing: border-box;
    }

    .yellow:nth-child(2n) {
        margin-left: 10px;
    }

    .yellow:first-child, .yellow:nth-child(2) {
        margin-bottom: 10px;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 1200px;
    }
    .mb-10:nth-child(3) {
        margin-bottom: 0;
    }
    .yellow {
        min-width: calc(25% - 7.5px);
        margin-left: 0;
    }
    .yellow:nth-child(3) {
        margin-left: 10px;
    }
}

        /*Flex*/

/*body {*/
/*    margin: 0;*/
/*}*/

/*.container {*/
/*    background-color: pink;*/
/*    max-width: 1200px;*/
/*    height: calc(100% - 20px);*/
/*    margin: 25px auto 0 auto;*/
/*    padding: 10px;*/
/*    box-sizing: border-box;*/
/*}*/

/*.d-flex {*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/

/*.mb-10 {*/
/*    margin-bottom: 10px;*/
/*}*/

/*.ml-10 {*/
/*    margin-left: 10px;*/
/*}*/

/*.w-25 {*/
/*    width: 25%;*/
/*}*/

/*.w-33 {*/
/*    width: 33.3%;*/
/*}*/

/*.w-50 {*/
/*    width: 50%;*/
/*}*/

/*.w-66 {*/
/*    width: 66.6%;*/
/*}*/

/*.w-100 {*/
/*    width: 100%;*/
/*}*/

/*.red {*/
/*    border: 1px solid black;*/
/*    background-color: red;*/
/*    height: 120px;*/
/*}*/

/*.orange {*/
/*    border: 1px solid black;*/
/*    background-color: orange;*/
/*    height: 120px;*/
/*}*/

/*.yellow {*/
/*    border: 1px solid black;*/
/*    background-color: yellow;*/
/*    height: 120px;*/
/*}*/

/*.green {*/
/*    border: 1px solid black;*/
/*    background-color: green;*/
/*    height: 120px;*/
/*}*/

/*.blue {*/
/*    border: 1px solid black;*/
/*    background-color: blue;*/
/*    height: 120px;*/
/*}*/

/*@media (max-width: 1000px) {*/
/*    .container {*/
/*        max-width: 850px;*/
/*    }*/

/*    .yellow {*/
/*        min-width: calc(50% - 5px);*/
/*        margin-left: 0;*/
/*        box-sizing: border-box;*/
/*    }*/

/*    .yellow:first-child, .yellow:nth-child(2) {*/
/*        margin-bottom: 10px;*/
/*    }*/

/*    .yellow:nth-child(2n) {*/
/*        margin-left: 10px;*/
/*    }*/

/*    .d-flex-media {*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*    }*/
/*}*/

/*@media (max-width: 600px) {*/
/*    .w-33, .w-25, .w-50, .w-66 {*/
/*        width: 100%;*/
/*    }*/

/*    .ml-10 {*/
/*        margin-left: 0;*/
/*    }*/

/*    .d-flex {*/
/*        display: block;*/
/*    }*/

/*    .red, .orange, .yellow, .blue {*/
/*        margin-bottom: 10px;*/
/*    }*/

/*    .blue:nth-child(2) {*/
/*        margin-bottom: 0;*/
/*    }*/

/*    .yellow:nth-child(2n) {*/
/*        margin-left: 0;*/
/*    }*/
/*}*/

